* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homepage {
   
    background-image: url(assets/img/avadabarbers-homepage-hero-bg.jpg);
    background-size: cover;

    >div {
        padding: 30px;
        >header {

            >figure {
                >img {
                    width: 200px;
                }
            }

            .hamburger {
                font-size: 40px;
                cursor: pointer;
                color: white;
                padding-top: 7px;
            }

            .menu {
                position: fixed;
                top: 0;
                right: -300px;
                width: 300px;
                height: 100vh;
                background: #928e85;
                padding: 20px;
                transition: 0.3s;
                overflow-y: auto;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                color: #313131;

            }

            .menu.active {
                right: 0;
            }

            .close {
                font-size: 30px;
                cursor: pointer;
                float: right;
                margin-bottom: 20px;
            }

            .menu ul {
                list-style: none;
                padding: 0;
            }

            .menu ul li {
                margin: 18px 0;
                font-size: 18px;
                cursor: pointer;

                &:hover {
                    color: rgb(102, 78, 48);
                }
            }

        }

        >h1 {
            font-weight: bold;
            color: rgb(190 147 89);
            font-family: 'Times New Roman', Times, serif;
            font-size: 100px;
            padding-top: 200px;
        }

        >h3 {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            padding-bottom: 20px;

            color: #71747c;
        }

        >button {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            background-color: inherit;
            border: 2px solid rgb(190 147 89);
            padding: 10px 50px;
            color: rgb(190 147 89);
            cursor: pointer;
            font-size: 24px;
            transition: .3s;

            &:hover {
                color: inherit;
                background-color: rgb(190 147 89);
            }
        }

        .first-img {
            width: 700px;

        }
    }

    #popupOverlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);
        display: none;
    }

    #popupForm {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.7);
        width: 380px;
        background: #111;
        padding: 25px;
        border-radius: 15px;
        border: 1px solid rgb(190 147 89);
        box-shadow: 0 0 30px rgb(190 147 89);
        display: none;
        transition: 0.3s ease;
    }

    #popupForm h3 {
        color: rgb(190 147 89);
        text-align: center;
        margin-bottom: 20px;
    }

    #popupForm input {
        width: 100%;
        padding: 12px;
        border-radius: 8px;
        margin-bottom: 12px;
        border: 1px solid #444;
        background: #222;
        color: white;
        outline: none;
    }

    #popupForm button {
        width: 100%;
        padding: 12px;
        border: none;
        border-radius: 8px;
        background: rgb(190 147 89);
        color: black;
        font-weight: bold;
        cursor: pointer;
        transition: 0.2s;
    }

    #popupForm button:hover {
        background: rgb(190 147 89);
    }



    .main-header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        padding: 30px 50px;
        transition: .35s ease;
    }

    .main-header.scrolled {
        background: rgba(0, 0, 0, .85);

        padding: 10px 40px !important;
        box-shadow: 0 4px 18px rgba(0, 0, 0, .5);
    }

    .hamburger {
        font-size: 30px;
        cursor: pointer;
        color: white;
    }

    .menu {
        position: fixed;
        top: 0;
        right: -300px;
        width: 300px;
        height: 100vh;
        background: #928e85;
        padding: 20px;
        transition: 0.3s;
        overflow-y: auto;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #313131;
    }

    .menu.active {
        right: 0;
    }

    .close {
        font-size: 30px;
        cursor: pointer;
        float: right;
        margin-bottom: 20px;
    }





}

.part2 {
    
    background-image: url(assets/img/avadabarbers-about-introbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    >div {
        padding: 30px;
        >h2 {
            font-weight: bold;
            color: rgb(190 147 89);
            font-family: 'Times New Roman', Times, serif;
            font-size: 70px;
            padding-bottom: 15px;
        }

        >h3 {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: rgb(190 147 89);
            
        }

        >button {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            background-color: inherit;
            border: 2px solid rgb(190 147 89);
            padding: 12px;
            color: rgb(190 147 89);
            cursor: pointer;
            font-size: 15px;
            transition: .3s;

            &:hover {
                color: inherit;
                background-color: rgb(190 147 89);
            }
        }
    }
}

.part3 {
   
    >div {
        padding: 30px;
        >h2 {
            font-weight: bold;
            color: rgb(190 147 89);
            font-family: 'Times New Roman', Times, serif;
            font-size: 60px;
            padding-bottom: 15px;
        }

        >h3 {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: rgb(190 147 89);
            padding-top: 50px;
            font-size: 22px;
        }

        >button {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            background-color: inherit;
            border: 2px solid rgb(190 147 89);
            padding: 12px;
            color: rgb(190 147 89);
            cursor: pointer;
            font-size: 20px;
            transition: .3s;

            &:hover {
                color: inherit;
                background-color: rgb(190 147 89);
            }
        }

        .myimg2 {
            width: 80px;
            padding-bottom: 20px;
        }

        >div {
            gap: 100px;

            >div {
                >h3 {
                    font-weight: bold;
                    color: rgb(190 147 89);
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 35px;
                }

                >p {
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                }
            }
        }
    }
}

.part4 {
    
    background-image: url(assets/img/avadabarbers-reviewsbackground.jpg);
    background-size: cover;

    >div {
        padding: 30px;
        >h2 {
            font-weight: bold;
            color: rgb(190 147 89);
            font-family: 'Times New Roman', Times, serif;
            font-size: 80px;
            padding-bottom: 15px;
        }

        >h3 {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: rgb(190 147 89);
            padding-top: 50px;
            font-size: 22px;
        }

        >div {
            >div {
                >img {
                    width: 270px;
                }

                >h3 {
                    font-weight: bold;
                    color: rgb(190 147 89);
                    font-family: 'Times New Roman', Times, serif;
                }

                >p {
                    font-weight: bold;
                    color: rgb(190 147 89);
                    font-family: 'Times New Roman', Times, serif;
                }
            }

        }

        >button {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            background-color: inherit;
            border: 2px solid rgb(190 147 89);
            padding: 12px;
            color: rgb(190 147 89);
            cursor: pointer;
            font-size: 20px;
            transition: .3s;

            &:hover {
                color: inherit;
                background-color: rgb(190 147 89);
            }
        }
    }
}



.part5 {
    >div {
        padding: 30px;
        >h3 {
            text-align: center;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: rgb(190 147 89);
            padding-top: 50px;
            font-size: 17px;

        }

        >h2 {
            font-weight: bold;
            color: #928e85;
            font-family: 'Times New Roman', Times, serif;
            text-align: center;
            font-size: 70px;

        }

        >div {
            >div {
                >img {
                    width: 120px;
                    border-radius: 60%;
                    display: block;
                    margin: auto;
                    padding-top: 10px;
                }

                >p {
                    text-align: center;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    font-size: 20px;
                    color: #928e85;
                }

                >h5 {
                    font-style: italic;
                    font-weight: bold;
                    color: rgb(190 147 89);
                    font-family: 'Times New Roman', Times, serif;
                    text-align: center;
                    padding-top: 10px;
                }
            }
        }
    }
}

/* swiper */


.swiper {
    width: 80%;
    height: 500px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* alert */


.avada-popup-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    justify-content: end;
    align-items: end;
    z-index: 9999;
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

.avada-popup-overlay.show {
    opacity: 1;
    pointer-events: auto;
}

.avada-popup {
    width: 100%;
    max-width: 330px;
    background-color: #ccc;
    padding: 30px 22px;
    position: relative;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.75;
}

.avada-popup h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 32px;
    font-weight: 800;
    color: rgb(102, 77, 44);
    margin-bottom: 8px;
}

.subtitle {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 18px;
    font-size: 15px;
    color: #000000;
}



.small-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    margin-bottom: 18px;
    color: #050505;
}


.coupon-btn {
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    background: #160a03;
    padding: 16px 0;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(190 147 89);
}



.part6 {
    
  

    >div {
        padding: 50px;
        >h3 {
            text-align: center;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: rgb(190 147 89);
            font-size: 17px;

        }

        >h2 {
            font-weight: bold;
            color: #928e85;
            font-family: 'Times New Roman', Times, serif;
            text-align: center;
            font-size: 60px;

        }

        >div {
            padding: 20px 0 10px 0;

            >div {
                >img {
                    width: 300px;
                    display: block;
                    margin: auto;
                    padding-top: 10px;
                }

                >p {
                    text-align: center;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    font-size: 20px;
                    color: #928e85;
                }

                >h3 {

                    font-weight: bold;
                    color: rgb(190 147 89);
                    font-family: 'Times New Roman', Times, serif;
                    text-align: center;
                    padding-top: 10px;
                }
            }
        }

        >button {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            background-color: inherit;
            border: 2px solid rgb(190 147 89);
            padding: 12px;
            color: rgb(190 147 89);
            cursor: pointer;
            font-size: 20px;
            margin: auto;
            display: block;
            transition: .3s;


            &:hover {
                color: inherit;
                background-color: rgb(190 147 89);
            }
        }
    }
}



.part7 {
    
    background-color: #0f0f0f;

    >div {
        padding: 30px;
        >div {
            >div {
                text-align: center;

                >img {
                    width: 400px;
                    margin: auto;
                    display: block;
                    padding-bottom: 50px;
                }

                >.footerimg {
                    width: 200px;
                    padding-top: 40px;
                }

                >button {
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    background-color: inherit;
                    border: 2px solid rgb(190 147 89);
                    padding: 12px;
                    color: rgb(190 147 89);
                    cursor: pointer;
                    font-size: 18px;
                    margin: auto;
                    display: block;
                    transition: .3s;

                    &:hover {
                        color: inherit;
                        background-color: rgb(190 147 89);
                    }
                }

                >p {

                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    font-size: 17px;
                    color: #928e85bb;
                }

                >h5 {
                    font-size: 15px;
                    font-weight: bold;
                    color: rgb(190 147 89);
                    font-family: 'Times New Roman', Times, serif;
                    text-align: center;
                    padding: 10px 0;
                }

                >div {
                    >i {
                        color: #928e85bb;
                    }
                }
            }
        }
    }
}

/* btn back */
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    font-size: 24px;
    border: none;
    bottom: 0;
    background-color: rgb(190 147 89);
    color: white;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    z-index: 999;
}

.back-to-top:hover {
    opacity: 0.85;
}


footer {
    padding: 30px;
    background-color: #171717;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    >p {
        color: #928e85;
        letter-spacing: 3px;
        padding-top: 18px;

        >span {
            color: rgb(190 147 89);
        }
    }
}

@media screen and (min-width:768px) {
    #personalicon {
        padding-bottom: 6px;
    }

    #title1 {
        font-size: 140px;
        padding-top: 200px;
    }

    #h3title {
        font-size: 30px;
    }

    .homepage {
   padding-bottom: 100px;
    }


    .swiper {
        width: 550px;
        height: 550px;
        margin-bottom: 30px;
        border-radius: 10px;
    }


}

@media screen and (min-width:992px) {
 .part4 {
      
        >div{
            >div{
                >div{
                    >img{
                        width: 100%;
                    }
                }
            }
        }
    }
    
}